### JQNetworkLib ###
library/JQNetwork/bin

### JQQRCode bin ###
library/JQLibrary/bin/JQQRCode*

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod


### Qt ###

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator
*.autosave
*.TMP

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

### macOS ###
*.DS_Store

### Visual Studio Code ###
.vscode/

### build ###
/build
